html, body {
  overflow: hidden;
  background-color: #f4f4f4;
}

#workspace {
  height: calc(100vh - 3.5rem);
  padding: 2em;
  font-size: 1.2rem;
  line-height: 1.8rem;
  box-shadow: 0px 0px 3px #bfbfbf;
  border: none;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
}

.btn {
  border-radius: 0px;
  margin: 0em .15em;
  box-shadow: 0px 0px 3px #bfbfbf;
}

.logo {
  color: #466bb0;
}